body {
  font-family: "Alumni Sans", sans-serif;
  background-color: #f9e502;
  width: 100%;
  height: 100%;
  margin: 0 0 5px 5px;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.header {
  grid-column: 1 / -1;
  font-size: 3rem;
  text-align: center;
  margin: 10px 20px 10px 0px;

}

.header h1 {
  margin: 0px 0px 0px 0px;
}

.renglon1 {
  grid-column: span 2;
  grid-row: span 2;
  padding: 2px;
  font-size: 6rem;
}

.renglon1 h2 {
  text-align: center;
  font-size: 2rem;
  margin: 0 0 0 0;
}

.renglon1 li {
  margin-right: 10px;
  font-size: 2rem;
}

.renglon3 {
  border: 2px solid black;
}

.renglon2,
.renglon3,
.renglon4,
.renglon5,
.renglon6,
.renglon7,
.renglon9 {
  grid-column: span 1;
}

.renglon7 {
  margin-left: 5px;
}

.renglon8 {
  margin-left: 5px;
  color: #4f3186;
  padding: 10px;
  font-weight:bold;
}

.renglon9 {
  grid-column: span 2;
  margin-left: 70px;
}

p {
  margin: 0px 20px 0px 0px;
  padding: 0px 10px 5px 0px;
}

button {
  background-color: #f9e502;
  border: none;
}

a {
  text-decoration: none;
  color: black;
}